<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Human</title>
</head>
<body>
<p th:text="${people.getFullName() + ', ' + people.getYearOfBirth()}">Name</p>
<hr/>
<div th:if="${books.isEmpty()}">
    <p>Человек пока не взял ни одной книги</p>
</div>

<div th:if="${!books.isEmpty()}">
    <b> Книги: </b>
    <br/>
    <table th:each="book : ${books}">
        <a th:text = "${book.getTitle() + ', ' + book.getAuthor() + ', ' + book.getPublishYear()}">Books List</a>
    </table>
</div>
<hr/>
<form th:action="@{/people/{id}/edit(id=${people.getPeople_id()})}">
    <input type="submit" value="Редактировать!">
</form>
<br/>
<form th:method="DELETE" th:action="@{/people/{id}(id=${people.getPeople_id()})}">
    <input type="submit" value="Удалить"/>
</form>
</body>
</html>